.header {
  margin-top: .5rem;
  padding-left: 10px;
}

.header ul li {
  list-style: none;
  margin: 0;
  border-radius: 3px;
}

.header ul li a {
    color: #00bc8c;
    text-decoration: none;
    display: block;
    padding: 5px 20px;
}

.header ul li a.active {
  background-color: greenyellow;
}

.header ul li a:hover {
  background-color: #444;
}

.header a:hover {
  text-decoration: none;
}

.header h3 a {
  color: white;
}

.header h3 a:hover {
  color: #00bc8c;
}
